In [1]:
import sys
from pathlib import Path

In [2]:
ROOT = Path.cwd().parent
sys.path.append(str(ROOT / "src"))

In [3]:
from simulator.flights import generate_flights
from simulator.rollout import simulate_flights, simple_time_based_policy

In [4]:
flights_df = generate_flights(num_flights=200)
flights_df.head()

,flight_id,source_city,destination_city,route,departure_datetime,distance_km,season,route_type,seat_capacity,airline
0,FL00001,Delhi,Mumbai,Delhi-Mumbai,2025-01-22,1150,normal,business,180,SimAir
1,FL00002,Bangalore,Delhi,Bangalore-Delhi,2025-02-23,1750,normal,business,180,SimAir
2,FL00003,Mumbai,Kolkata,Mumbai-Kolkata,2025-01-30,1650,normal,business,180,SimAir
3,FL00004,Mumbai,Delhi,Mumbai-Delhi,2025-02-11,1150,normal,business,180,SimAir
4,FL00005,Mumbai,Delhi,Mumbai-Delhi,2025-01-27,1150,normal,business,180,SimAir

In [5]:
bookings_df = simulate_flights(flights_df,pricing_policy=simple_time_based_policy)
bookings_df.head()

,flight_id,route,origin,destination,departure_datetime,booking_date,t,days_to_departure,day_of_week,is_weekend,...,route_type,seat_capacity,remaining_seats,price,competitor_price,search_demand_idx,bookings_made,revenue,cumulative_bookings,sold_out_flag
0,FL00001,Delhi-Mumbai,Delhi,Mumbai,2025-01-22,2024-10-24,0,90,3,False,...,business,180,172,3500.0,6797.099153,5.400000,8,28000.0,8,False
1,FL00001,Delhi-Mumbai,Delhi,Mumbai,2025-01-22,2024-10-25,1,89,4,False,...,business,180,166,3500.0,5486.015496,4.455488,6,21000.0,14,False
2,FL00001,Delhi-Mumbai,Delhi,Mumbai,2025-01-22,2024-10-26,2,88,5,True,...,business,180,157,3500.0,7231.689916,6.480000,9,31500.0,23,False
3,FL00001,Delhi-Mumbai,Delhi,Mumbai,2025-01-22,2024-10-27,3,87,6,True,...,business,180,151,3500.0,7417.050598,6.480000,6,21000.0,29,False
4,FL00001,Delhi-Mumbai,Delhi,Mumbai,2025-01-22,2024-10-28,4,86,0,False,...,business,180,148,3500.0,4597.740691,3.482050,3,10500.0,32,False

In [6]:
# 3. Save data
flights_df.to_csv(ROOT / "data" / "flights.csv", index=False)
bookings_df.to_csv(ROOT / "data" / "bookings.csv", index=False)

In [7]:
import matplotlib.pyplot as plt

mean_bookings = bookings_df.groupby("days_to_departure")["bookings_made"].mean()
print(mean_bookings)

days_to_departure
50    1.000000
51    4.000000
52    6.428571
53    3.687500
54    4.285714
55    4.045455
56    4.614286
57    4.980198
58    5.676923
59    5.497041
60    6.129032
61    5.117949
62    5.166667
63    5.325000
64    5.415000
65    5.510000
66    5.175000
67    5.080000
68    5.700000
69    5.385000
70    5.460000
71    5.730000
72    5.165000
73    5.485000
74    5.195000
75    4.975000
76    5.200000
77    5.560000
78    5.400000
79    5.290000
80    5.215000
81    5.205000
82    5.300000
83    5.600000
84    5.355000
85    4.995000
86    5.290000
87    5.415000
88    5.205000
89    5.615000
90    5.390000
Name: bookings_made, dtype: float64

In [8]:
bookings_df.tail()

,flight_id,route,origin,destination,departure_datetime,booking_date,t,days_to_departure,day_of_week,is_weekend,...,route_type,seat_capacity,remaining_seats,price,competitor_price,search_demand_idx,bookings_made,revenue,cumulative_bookings,sold_out_flag
6744,FL00200,Kolkata-Mumbai,Kolkata,Mumbai,2025-01-19,2024-11-22,32,58,4,False,...,business,180,19,5500.0,7011.945240,6.649249,4,22000.0,161,False
6745,FL00200,Kolkata-Mumbai,Kolkata,Mumbai,2025-01-19,2024-11-23,33,57,5,True,...,business,180,14,5500.0,6821.655310,7.637460,5,27500.0,166,False
6746,FL00200,Kolkata-Mumbai,Kolkata,Mumbai,2025-01-19,2024-11-24,34,56,6,True,...,business,180,8,5500.0,6200.803395,6.498772,6,33000.0,172,False
6747,FL00200,Kolkata-Mumbai,Kolkata,Mumbai,2025-01-19,2024-11-25,35,55,0,False,...,business,180,2,5500.0,7144.156090,6.845116,6,33000.0,178,False
6748,FL00200,Kolkata-Mumbai,Kolkata,Mumbai,2025-01-19,2024-11-26,36,54,1,False,...,business,180,0,5500.0,6484.916006,5.853334,2,11000.0,180,True